/archive/privateCodeArchive
/configure/save2.sh
/configure/xfceInit2.sh
/forkedRepos/
/myRepos/
/organisation/
/output/
/smallPrograms/
/system/keyboardOther/soundboard
/terminal/alias/passGen.sh
/terminal/terminalPrograms/astro/planets
/terminal/terminalPrograms/log
/terminal/terminalPrograms/money
/terminal/terminalPrograms/schedule
/terminal/terminalPrograms/timer
/website
