/archive/privateCodeArchive
/configure/save2.sh
/configure/xfceInit2.sh
/forkedRepos/
/mediaUI/
/organisation/
/output/
/smallPrograms/
/statsProgram/
/syntaxHighlighting
/terminal/alias/passGen.sh
/terminal/terminalPrograms/log
/terminal/terminalPrograms/planets
/terminal/terminalPrograms/schedule
/terminal/terminalPrograms/sunrise
toRewriteGo.txt
/website
