/archive/privateCodeArchive
/configure/save2.sh
/configure/xfceInit2.sh
/forkedRepos/
/mediaUI/
/organisation/
/output/
/smallPrograms/
/statsProgram/
/syntaxHighlighting
/system/keyboardOther/soundboard
/terminal/alias/passGen.sh
/terminal/terminalPrograms/astro/planets
/terminal/terminalPrograms/log
/terminal/terminalPrograms/schedule
toRewriteGo.txt
/website
