[Unit]
Description=Timer for checkfiles
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnBootSec=120
OnUnitActiveSec=900
Unit=files.service

[Install]
WantedBy=timers.target
