.thunar .sidebar .view { background-color: #383838; }
.thunar .sidebar .view:backdrop { background-color: #383838; }
.thunar .standard-view .view { background-color: #2b2b2b; }
.thunar .standard-view .view:backdrop { background-color: #2b2b2b; }
.thunar .statusbar .view { background-color: blue; }

#xfwm-tabwin {
-XfwmTabwinWidget-icon-size: 128px;
-XfwmTabwinWidget-preview-size: 256px; }
